<section id="interests">
<div class="container">
  <h3>Interests</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Decentralized Technology</a></strong>
			<br>
			I have been mesmerized by Bitcoin and other decentralizing protocols since I was lucky enough
      to stumble into a weird decentralist basement in Vancouver in 2015. I think that the tools and
      projects being spawned in the disruptive technology sector right now will either liberate humanity,
      or create more totalizing and inescapable global oppression than we've ever imagined. I'm desperately
      hoping for the former and have my hat in the ring to help in any way I can.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Free and Open Source Software</a></strong>
			<br>
			To me, the promise of decentralized technology can only be pursued in tandem with the complex communal
      incentives that arise around free and open bases of knowledge and code sharing; Richard M. Stallman has
      long been a hero of mine, which is the reason I rap as msGNU. I believe that the necessary reframing of
      flows of collaborative value within development communities can resemble familial and tribal
      networks of support, and we can work in this model towards sating the Tragedy of the Commons.
		</h5>
    <h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Universally Accessible Education</a></strong>
			<br>
			 Providing opportunities for all living human beings to access resources, information, and
       a platform upon which their voices can be heard. Special interest in projects that will
       accelerate closing the gap between the Global South and Global North, or those that will
       empower traditionally underserved communities.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Censorship Resistance</a></strong>
			<br>
			Implementing new models and protocols to structurally "Lock the Web Open"
      (term borrowed from http://www.decentralizedweb.net/), from Bitcoin for transactions to
      Tor, VPNs and other privacy-protecting tools, to decentralized data storage solutions.
		</h5>
		<h5>
		<img src="{{ site.baseurl }}assets/imgs/1990718374_chroma.jpg" alt="top interest">
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Copyright and Patent Reform</a></strong>
			<br>
  		Reforming archaic copyright regulations and increasing widespread access to crucial research and
      information (especially by encouraging use of Creative Commons, GPL, and CopyLeft licenses). Again,
      Stallman is a hero for me here, as are Lawrence Lessig and all brave and daring remix artists of the
      modern age.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Transdisciplinary Creativity</a></strong>
			<br>
			Crafting educational material which translates "Ivory Tower" academia into accessible
      artistic multimedia (i.e. creating the "Schoolhouse Rock" of critical theory). Getting folks
      of all ages involved in participatory learning experiences which explore multiple perspectives
      (h/t Paolo Freiere).
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Human-centric Technology Design</a></strong>
			<br>
      In September 2019, I'm beginning a Master's in Library and Information Science at the University of
      British Columbia, pursuing participation in the "Designing For People" Specialization. Most of my life's
      work has pointed in this direction-- I feel that many of the above points are intertwined with necessarily
      designing our platforms and applications to work for a broad and diverse range of humans, rather than trying
      to teach all of humanity to think exactly how the product engineers think. I encourage anyone working in this
      broad transdisciplinary area to reach out to me-- even if I am not the right fit to collaborate with your project,
      I can make appropriate introductions in my university department.
		</h5>


    </div>
  </div>
</div>
</section>
