<section id="interests">
<div class="container">
  <h3>Interests</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Decentralized Technology</a></strong>
			-
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Open Source Software</a></strong>
			-
		</h5>
    <h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Universally Accessible Education</a></strong>
			 Providing opportunities for all living human beings to access resources, information, and
       a platform upon which their voices can be heard. Special interest in projects that will
       accelerate closing the gap between the Global South and Global North, or those that will
       empower traditionally underserved communities.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Censorship Resistance</a></strong>
			Implementing new models and protocols to structurally "Lock the Web Open"
      (term borrowed from http://www.decentralizedweb.net/), from Bitcoin for transactions to
      Tor, VPNs and other privacy-protecting tools, to decentralized data storage solutions.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Copyright and Patent Reform</a></strong>
			Reforming archaic copyright regulations and increasing widespread access to crucial research and
      information (especially by encouraging use of Creative Commons, GPL, and CopyLeft licenses).
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Transdisciplinary Creativity</a></strong>
			Crafting educational material which translates "Ivory Tower" academia into accessible
      artistic multimedia (i.e. creating the "Schoolhouse Rock" of critical theory). Getting folks
      of all ages involved in participatory learning experiences which explore multiple perspectives
      (h/t Paolo Freiere).
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 7</a></strong>
			- Essent putant indoctum sed in, reprimique persequeris neglegentur te quo. Nam rebum
			tractatos partiendo at, debet ubique oporteat ut his.
		</h5>


    </div>
  </div>
</div>
</section>
