<section id="interests">
<div class="container">
  <h3>My Primary Interests</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	    	<h5>
		<img src="{{ site.baseurl }}assets/imgs/1990718374_chroma.jpg" alt="top interest" style="width:500px;height:600px;">
			<br>
	    	</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Decentralized Technology</a></strong>
			<br>
			I have been mesmerized by Bitcoin ever since I was lucky enough
			to stumble into <a href="https://www.dctrl.ca">a weird decentralist basement in Vancouver</a> in 2015.
			The tools and projects being spawned in the disruptive technology sector right now will either 
			liberate humanity, or create more inescapable global oppression than we've ever imagined. I'm 
			desperately hoping for the former, and have my hat in the ring to help in any way I can.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Free and Open Source Software</a></strong>
			<br>
	<a href="https://stallman.org/">Richard M. Stallman</a> has long been a hero of mine, which is the reason I rap as 
	<a href="http://stuckincyber.space/mainpages/msGNU/">msGNU</a>. I believe that we can reframe flows of collaborative 
	value within development communities to better resemble familial and tribal networks of support, and this model can 
			help address <a href="https://www.econlib.org/library/Enc/TragedyoftheCommons.html/">the Tragedy of the Commons</a>.
			<br>	
	    	</h5>
    		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Universally Accessible Education</a></strong>
			<br>
	We need free and open bases for knowledge sharing, and opportunities for all human beings to access platforms upon 
	which their voices can be heard. I have a special interest in projects that will empower traditionally underserved communities,
       such as reducing inequities in opportunity between the Global South and Global North.
			<br>
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Censorship Resistance</a></strong>
			<br>
	We must implement new models and protocols to structurally <a href="https://www.decentralizedweb.net/">"Lock the Web 
			Open"</a>, from Bitcoin for transactions to Tor, VPNs, and other privacy-protecting tools, 
			and decentralized data storage solutions.
			<br>
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Copyright and Patent Reform</a></strong>
			<br>
  		Similarly, we must reform archaic copyright regulations and increase public access to crucial research and
      information (especially by encouraging use of <a href="https://creativecommons.org/">Creative Commons</a>, 
	<a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL</a>, and <a href="https://www.copyleft.org/">CopyLeft</a> 
	licenses). Again, Stallman is a hero for me here, as are <a href="http://www.lessig.org/about/">Lawrence Lessig</a> 
	and all brave and daring remix artists of the modern age.
			<br>
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Transdisciplinary Creativity</a></strong>
			<br>
	I create weird educational videos translating "Ivory Tower" academia into the "Schoolhouse Rock" of critical theory
	and decentralized technology. Getting folks of all ages involved in participatory learning experiences which explore 
	multiple perspectives is a central focus of mine (h/t <a href="https://www.freire.org/paulo-freire/">Paolo Freiere</a>).
			<br>
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Human-centered Technology Design</a></strong>
			<br>
      			In September 2019, I'm beginning a <a href="https://slais.ubc.ca/programs/degrees/mlis/">Master's in Library and 
			Information Science</a> at the University of British Columbia, with an anchor in the
			<a href="https://dfp.ubc.ca/grad-training">Designing For People</a> specialization. 
			Most of my life's work has moved in this direction-- we must design our platforms and 
			applications to work for a broad and diverse range of humans, rather than trying 
			to teach all of humanity to think exactly like existing product engineers. 
				<br>										
			I encourage anyone working in this broad transdisciplinary area to reach out to me-- 
			even if I am not the right fit with your project, I can make appropriate introductions 
			among colleagues and peers.
		</h5>


    </div>
  </div>
</div>
</section>
