<section id="roles">
<div class="container">
  <h3>How to Employ Me</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Preferred Currencies & Payment Methods</a></strong>
      <br>
      All rates are shown as $USD-pegged for convenience/realism. I look forward to a future when
      I can comfortably fix my rates in satoshis.
      <br>
      <br>
      In order of descending preference, I accept payment in the following currencies:
      <br>
      <img src="{{ site.baseurl }}assets/imgs/currencies.jpg" alt="Currencies msGNU accepts" style="width:600px;height:275px;">
      <br>
      <strong>BTC > DAI > USD > DOGE, ETH, ETC, XMR, ZEC, ARRR > CAD</strong>
      <br>
      In general I only accept other cryptocurrencies or tokens as an additional "bonus" to base payments.
      <br>
		</h5>
    <h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Event Operations Roles</a></strong>
			<br>
      Contract operations management: let me help you architect your conference or event from scratch,
      from securing venues and catering to organizing and onboarding volunteers, speakers, and attendees.
      Rates dependent upon lead-up time, scope of event, and total hours required. I bring the majority of
      my own supplies, including specialized A/V and comms equipment.
		</h5>
    	<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Writing and Documentation Roles</a></strong>
			<br>
      I have ten years' experience in editing primarily academic texts, and five years' experience of informal
      technical documentation within Linux forums and communities. In the past few years I've turned to more
      journalistic pieces within the cryptocurrency field, and as I gradually learn to code I'm further developing
      my professional technical writing skills.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Advisory and Consulting Roles</a></strong>
			<br>
      My professional Master's degree in Community Psychology was anchored in program assessment and evaluation
      skills which easily translate to early-stage blockchain projects, bolstered in context by my 4 years as a
      community Bitcoin educator. Book an hour of my time, pitch me on your project idea, and let me poke holes in
      it so you can build it stronger-- or maybe you can solve this problem without a blockchain at all!
      <br>
      I can also consult from a more personal place around inclusivity regarding queer spectrum gender identity.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Education Roles</a></strong>
			<br>
      - Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,
			eam doming blandit facilisis.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Performance Roles</a></strong>
			<br>
      I have a wide range of experience in voice and film acting and still photography modelling.
      <br>
      Work ranges from voice recording for computer systems, audiobooks, and ASMR, to original
      rap performances in-studio or at events, to fashion or boudoir photography. If you have
      a creative vision, contact me-- I have lots of costumes, wigs, and wild ideas kicking around.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">All Other Inquiries</a></strong>
			<br>
      I can be pitched on creative and innovative projects, especially those driven by social good incentives.
      <br>
      I <strong>cannot</strong> be pitched on ICOs, SEOs, or whatever the hell they're calling hypertokenization at the present time.
      <br>
      Do not shill me your token and do not send me a spray-and-pray form email. I will delete them.
      <br>
      If on the other hand you're exploring terrain that truly requires cryptoeconomic design? Please reach out. I'd love to, at minimum,
      ponder it from the potential user/community experience side.
		</h5>


    </div>
  </div>
</div>
</section>
