<section id="roles">
<div class="container">
  <h3>How to Employ Me</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	<h5>
	<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://chiselinc.github.io/EthicalDisclosure.html">Forewarning: To Prevent Wasted Time for Both of Us</a></strong>
	<br>
	Do not shill me your token and do not send me a spray-and-pray form email. I will delete them.
      <br>
	When I connect with innovative social good projects, my loyalty is unwavering. 
      <br>
	If you're making the world a better place, I want to signal boost.
	</h5>
	<h5>
	<img src="{{ site.baseurl }}assets/imgs/485206731_chroma.jpg" alt="many roles 4 me" class="img-responsive">
 	<br>
	<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://chiselinc.github.io/EventOpsRoles.html">Event Operations Roles</a></strong>
	<br>
	Let me help you architect your conference or meetup from scratch, or just come lend a hand during the event itself.
	<br>
	I can bring the majority of my own supplies, including specialized A/V and comms equipment.
	</h5>
    	<h5>
	<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://chiselinc.github.io/WritingRoles.html">Writing and Documentation Roles</a></strong>
	<br>
     	I'm available for hire by project contract or hourly as a technical writer and copyeditor, and by project contract for journalism and academic writing.
	</h5>
	<h5>
	<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://chiselinc.github.io/AdvisoryRoles.html">"Blockchain" Advisory Roles</a></strong>
	<br>
	Book an hour of my time, pitch me on your project idea, and let me poke holes in it so you can build it stronger.
	<br>
	My 3+ years in Bitcoin education, combined with a Master's degree focused on 
	program assessment, give me a unique edge for critically deconstructing blockchain startup ideas.
	</h5>
	<h5>
	<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://chiselinc.github.io/EducationRoles.html">Education Roles</a></strong>
	<br>
      	I have been onboarding broad audiences of newcomers to Linux and open source software for more than 6 years,
      	and Bitcoin for more than 3 years. 
	<br>
	I can teach these and related technical topics, as well as critical theory,
	in small group seminar format or large conference speech-and-slides format.
	</h5>
    </div>
  </div>
</div>
</section>
